---
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
---

<Body>
	<main class="pt-[56px] text-justify ">
		<h1 class="text-center text-3xl font-bold">About Us</h1>
		<Content>
			<section class="flex flex-col items-center p-2 font-suse">
				<p class="indent-4 mb-4">
					We welcome you to our fictional blog. We are a team of two who have been working on this project for a few months or rather years.

					This came up when we were in lockdown due to Covid-19. We decided to create this blog to show how we aspire to have a life of adventure and peace.

					
				</p>

				<p>
					A life which we hope to live in the future but all of them in fictional form.
					We are too far from where we intend to be in the future, but we can hope. We are humans, we hope and hope our entire life. To a better future, we struggle and struggle. Someday we will get there.
				</p>
			</section>
		</Content>
	</main>
</Body>
