---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/Body.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Image from 'astro/components/Image.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<Header />
		<main class="flex flex-col justify-center items-center mt-2">
			<Image src="/cloudhikari.svg" alt="Hikari and Cloud" width="450" height="450"/>
			<p class="text-center">
				Hikari and Cloud welcome you to the world of daily struggle.
				<br>
				Embark on the journey with them, as they accompany their humans through life's ups and downs, sharing in their daily struggles and triumphs
			</p>
		</main>
		<Footer />
	</Body>
</html>
